.container
{
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav
{
    background-color: #00bc8c;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.items
{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* text-align: center; */
    color: white;
}

.logo p
{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: bold;
    cursor:default;
}

.contents ul
{
    display: flex;
}

.contents ul li
{
    list-style-type: none;
    margin-left: 40px;
}

ul li a
{
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    font-weight: bold;
}

.contents li a:hover
{
    cursor: pointer;
    color: #006f53;
}

.hero-btn
{
    padding: 10px 20px;
    color: #00bc8c;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.hero-btn:hover
{
    color: white;
    background-color: #006f53;
    transition: 0.3s ease;
}

